.page-template-page-capabilities {
  .capabilities-icons {
    @include max-width(700px);

    a {
      text-decoration: none;
    }
    img {
      width: 130px;

      @include respond-to(medium) {
        width: 150px;
      }
    }

    .icon-wrapper {
      text-align: center;
      margin-bottom: 2rem;

      h2 {
        margin: 1.5rem 0;
      }
    }

    @include respond-to(small) {
      display: flex;
      justify-content: center;
    }

    @include respond-to(large) {
      @include max-width(800px);

      h2 {
        font-size: 1.25rem;
      }
    }
  }
}