#mm4-contact-form {
  label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  input, textarea {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid $color__brand-1;
  }

  input[type="submit"] {
    background-color: $color__brand-4;
    color: #fff;
    padding: 1rem 1rem .7rem;
    margin: 2rem 0;
    width: 175px;
    border: none;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: $font__medium;
    letter-spacing: 2px;

    @include respond-to(x-small) {
      // width: 50%;
    }

    @include respond-to(small) {
      // width: 30%;
    }
  }
}