.home {
  .hero {
    color: #fff;
    position: relative;
    z-index: 1000;
    // margin-bottom: -4em;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      z-index: 2000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color__background-overlay;
      opacity: .6;
    }

    video {
      padding: 20em 0;
      background-color: #000;
      width: 100%;
      position: relative;
      z-index:-1;
      display: block;

      @include respond-to(x-small) {
        padding: 0;

      }
    }

    .hero-wrapper {
      display: none; // REMOVE!!!!!
      position: absolute;
      z-index: 3000;
      width: 100%;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 5em;

      @include respond-to(medium) {
        display: flex;
        justify-content: space-around;
      }
    }

    .hero-title {
      font-family: $font__black;
      text-transform: uppercase;
    }

    .hero-callout-left {
      border: 1px solid green;

      @include respond-to(medium) {
        flex: 1;
      };
    }

    .hero-callout-right {
      border: 1px solid yellow;

      @include respond-to(medium) {
        flex: 1;
      };
    }
  }

  #content {


    h1 {
      color: $color__brand-1;
    }
  }
}