.page-template-page-leadership {

  h2 {
    a {
      color: $color__brand-1;
      text-decoration: none;

      &:visited {
        color: $color__brand-1;
      }
    }
  }

  .headshot {

    img {
      width: 130px;
      border: 5px solid #000;
      border-radius: 50%;
      position:relative;

      &:after {
        position:absolute;
        content:"";
        width:110%;
        height:110%;
        background:#000;
        top:-5%;
        left:-5%;
        z-index:-1;
        border-radius:50%;
      }
    }
  }

  .linkedin-icon {
    padding-top: .5em;
  }

  .flex-wrapper {
    margin-bottom: 2em;

    &:first-child {
      h2 {
        margin-top: .5em;
      }
    }
  }

  @include respond-to(small) {
    .flex-wrapper {
      display: flex;
    }

    .headshot {
      flex: 1 1 20%;
      text-align: center;
      padding-top: 1.2em;
    }

    .bio {
      flex: 1 1 60%;
    }
  }

  @include respond-to(large) {
    #content::before {
      // top: -3em;
    }

  }
}