.page-template-page-two-column {
  section.two-columns {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .col-1 {
      margin-top: 1rem;
      margin-bottom: 1rem;

      img {
        width: 130px;

        @include respond-to(medium) {
          width: 150px;
        }
      }

      h2 {
        margin: 1.5rem 0;
      }
    }

    @include respond-to(small) {
      margin-top: 2rem;
      margin-bottom: 2rem;

      .flex-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .col-1 {
        flex: 1 1 20%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;

        h2 {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      .col-2 {
        width: 60%;
        flex: 1 1 60%;
        padding-left: 2em;
      }
    }
  }
}