.page-template-page-who-we-are {
  section.who-we-are {

    @include respond-to(small) {
      .flex-wrapper {
        display: flex;
        justify-content: center;
      }

      .certifications, .core-values {
        flex: 1;

        h2 {
          margin-top: .5em;
        }
      }
    }
  }
}