
@font-face {
  font-family: 'Orbitron-Black';
  src: url('Orbitron-Black.eot?#iefix') format('embedded-opentype'),  url('Orbitron-Black.woff') format('woff'), url('Orbitron-Black.ttf')  format('truetype'), url('Orbitron-Black.svg#Orbitron-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
