ul, ol {
	margin: .75em 0 2.1em;
	padding: 0 0 0 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	margin: 0 0 .5em;
	padding: 0;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
	list-style: circle;

	li {
		margin:0;
	}
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
