#masthead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: rgba(255,255,255,0.85);

  .masthead-wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-branding {

      svg {
        width: 200px;
        height: 42px;

        @include respond-to(x-small) {
          width: 250px;
          height: 52px;
        }

        @include respond-to(small) {
          width: 300px;
          height: 62px;
        }

        @include respond-to(x-large) {
          width: 350px;
          height: 73px;
        }
      }
    }

    .main-navigation {

      #primary-menu {
        display: none;

        @include respond-to(menu-break) {
          display: block;
          font-size: 0.9em;
        }

        @include respond-to(x-large) {
          font-size: 1em;
        }
      }
    }

    @include respond-to(x-small) {
      @include padding-left-right;
    }

    @include respond-to(menu-break) {
      padding-top: 0;
      padding-bottom: 0;
      @include padding-left-right;
    }
  }

  #menu-toggle {
    background: transparent;
    border: none;
    font-family: $font__reg-bold;
    padding: .5em 0;
    font-size: 1.4rem;

    @include respond-to(menu-break) {
      display: none;
    }
  }
}