#masthead {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(255,255,255,0.85);

  .masthead-wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .site-branding {
      // flex: 1;
      svg {
        width: 200px;
        height: 42px;

        @include respond-to(x-small) {
          width: 250px;
          height: 52px;
        }

        @include respond-to(small) {
          width: 300px;
          height: 62px;
        }

        @include respond-to(x-large) {
          width: 350px;
          height: 73px;
        }
      }
    }

    .main-navigation {
      // flex: 3;
    }

    #primary-menu {
      display: none;

      @include respond-to(menu-break) {
        display: block;
      }
    }

    @include respond-to(x-small) {
      @include padding-left-right;
    }
  }

  #menu-toggle {
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;

    @include respond-to(menu-break) {
      display: none;
    }
  }

  #nav-icon {
    width: 30px;
    margin: 0 auto;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $color__brand-1;
      opacity: 1;
      // left: 15%;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    span:nth-child(1) {
      top: -36px;
    }

    span:nth-child(2),span:nth-child(3) {
      top: -24px;
    }

    span:nth-child(3) {
      // background: $color__brand-1;
    }

    span:nth-child(4) {
      top: -12px;
    }
  }

  #menu-toggle.open {
    #nav-icon span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #nav-icon span:nth-child(2) {
      transform: rotate(45deg);
      background: $color__brand-1;
    }

    #nav-icon span:nth-child(3) {
      transform: rotate(-45deg);
    }

    #nav-icon span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }

  @media screen and (min-width: 400px) {

    .masthead-wrapper {
      // padding: 0 20px 10px;

      #nav-icon {

        span:nth-child(1) {
          top: -36px;
        }

        span:nth-child(2),span:nth-child(3) {
          top: -23px;
        }

        span:nth-child(4) {
          top: -9px;
        }
      }

    }
  }

  @include respond-to(menu-break) {
    .masthead-wrapper {
      @include padding-left-right;

      #primary-menu {
        font-size: 0.9em;

        li {
          padding: 1rem .5rem;
        }

        li:last-child {
          padding-right: 0px;
        }
      }
    }
  }

  @media only screen and (min-width: 1300px) {
    .masthead-wrapper {
      // align-items: center;

      #primary-menu {
        // font-size: 1em;
        li {
          padding: 1rem;
        }
      }
    }
  }

  @include respond-to(x-large) {

    .masthead-wrapper {
      // align-items: center;

      #primary-menu {
        font-size: 1em;
        li {
          padding: 1rem;
        }
      }
    }
  }
}