#mobile-navigation {
  position: absolute;
  top: 68px;
  z-index: 99999;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: $color__brand-1;
  letter-spacing: 1px;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  transition: transform 0.25s ease-out;

  @include respond-to(x-small) {
    top: 78px;
  }

  @include respond-to(small) {
    top: 88px;
  }

  @include respond-to(menu-break) {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    text-align: center;
    list-style: none;
    width: 100%;
  }

  li {
    padding: 1em 2em;
    margin: 0;

    &:first-child {
      padding-top: 2em;
    }

    &:last-child {
      padding-bottom: 2em;
    }
  }

  a {
    // @include font-smooth;
    letter-spacing: 2px;
    color: #fff;
    font-family: $font__medium;
    text-transform: uppercase;
    text-decoration: none;
  }

  .sub-menu {
    max-height: 0px;
    margin: 0;
    padding: 0 2em 0;
    opacity: 0;
    transition: .25s;

    &.active {
      opacity: 1;
    }

    li {
      padding: 1em;

      &:first-child {
        padding-top: 2em;
      }
    }
    a {
      text-transform: none;
    }
  }

  .icon-plus {
    color: #fff;
    font-size: 1.4em;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: .9;
  }

  &.open {
    transform: translateX(0%);
  }
}