.sticky {
	display: block;
}

.hentry {
	margin: 2em 0 1.5em;

	@include respond-to(small) {
		// margin-top: 1em;

	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
